<section class="hero is-fullheight">
  <div class="hero-body">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="content is-large">
            <h1>Site is under construction. Will Launch soon</h1>
          </div>
        </div>
      </div>
      <div class="level-right mx-0">
        <figure class="image">
          <img src="../assets/images/webiste_under_contruction.jpg" />
        </figure>
      </div>
    </nav>
  </div>
</section>
